# Единый тип брокера для систем и компонентов (kafka или mqtt)
BROKER_TYPE=kafka

KAFKA_PORT=9092
KAFKA_INTERNAL_PORT=29092
MQTT_PORT=1883
DUMMY_PORT_A=9700
DUMMY_PORT_B=9701

DUMMY_USER_A=dummy_a
DUMMY_PASSWORD_A=dummy_a_secret
DUMMY_USER_B=dummy_b
DUMMY_PASSWORD_B=dummy_b_secret
ADMIN_USER=admin
ADMIN_PASSWORD=admin_secret_123

# Компоненты
COMPONENT_ID_A=dummy_component_a
COMPONENT_ID_B=dummy_component_b
COMPONENT_USER_A=component_a
COMPONENT_PASSWORD_A=component_a_secret
COMPONENT_USER_B=component_b
COMPONENT_PASSWORD_B=component_b_secret

DOCKER_NETWORK=drones_net
