# Jenkins admin credentials
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_PASSWORD=changeme

# Host ports
JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000
JENKINS_URL=http://localhost:8080/

# Source repository for the pipelines (used by JCasC to define jobs)
# GIT_BRANCH MUST exist on remote (make jenkins-preflight / git ls-remote); use master unless you pushed another branch.
GIT_REPO_URL=https://gitflic.ru/project/security-by-design-demos-developers/sbd-drones-economics.git
GIT_BRANCH=master
